appdirs==1.4.4
asgiref==3.3.1
astroid==2.4.2
beautifulsoup4==4.9.3
certifi==2020.12.5
chardet==3.0.4
colorama==0.4.4
comtypes==1.1.7
DateTime==4.3
distlib==0.3.1
dj-database-url==0.5.0
Django==3.1.4
django-heroku==0.3.1
filelock==3.0.12
gunicorn==20.0.4
idna==2.10
isort==5.6.4
lazy-object-proxy==1.4.3
mccabe==0.6.1
Pillow==8.0.1
psycopg2==2.8.6
PyAudio @ file:///C:/Users/SKYNET/Downloads/PyAudio-0.2.11-cp39-cp39-win_amd64.whl
pygame==2.0.0
pylint==2.6.0
pylint-django==2.3.0
pylint-plugin-utils==0.6
pypiwin32==223
python-decouple==3.4
pyttsx3==2.90
pytz==2020.4
pywin32==300
requests==2.25.0
selenium==3.141.0
six==1.15.0
soupsieve==2.1
SpeechRecognition==3.8.1
sqlparse==0.4.1
toml==0.10.2
urllib3==1.26.2
virtualenv==20.2.2
whitenoise==5.2.0
wikipedia==1.4.0
wrapt==1.12.1
zope.interface==5.2.0
