{% extends 'basic.html' %}

{% block css %}
  
p{
  font-size:1.2rem;
  font-weight:300;
  letter-spacing:0.2rem;
}
{% endblock css %}
{% block body %}
<div class="container py-2 mx-2">
  <p>
    We've emailed you instructions for setting your password, if an account exists with the email you entered.
    You should receive them shortly.
  </p>
  <p>
    If you don't receive an email, please make sure you've entered the address you registered with,
    and check your spam folder.
  </p>
</div>
{% endblock %}