{%extends "basic.html"%}

<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;1,300;1,400&display=swap" rel="stylesheet">
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">



{% block title%}{{post.title}}{% endblock %}


{% block css %}


 html*{
  font-family: 'Open Sans', sans-serif;
 }


#thumbnail{
  height:28vh;
  width:18rem;
  
}
.user{
  display:inline
}
.time{
  display:inline;
}
.logo{
    
  border: 1px solid;
    border-radius: 50%;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    width: 74px;
    height: 67px;
    text-decoration: up;
    text-transform: uppercase;
}

.logoimg{
  width:62px;
  height: 61px;
  padding: 1px;
  
}
.logoimg>img{
  width=100%;
  height:100%;
}

.collapse-box{
  display:none;
}

@media (min-width: 0) {
  .g-mr-15 {
      margin-right: 1.07143rem !important;
  }
}
@media (min-width: 0){
  .g-mt-3 {
      margin-top: 0.21429rem !important;
  }
}

.g-height-50 {
  height: 50px;
}

.g-width-50 {
  width: 50px !important;
}

@media (min-width: 0){
  .g-pa-30 {
      padding: 2.14286rem !important;
  }
}

.g-bg-secondary {
  background-color: #fafafa !important;
}

.u-shadow-v18 {
  box-shadow: 0 5px 10px -6px rgba(0, 0, 0, 0.15);
}

.g-color-gray-dark-v4 {
  color: #777 !important;
}

.g-font-size-12 {
  font-size: 0.85714rem !important;
}

.media-comment {
  margin-top:20px
}
header.masthead{margin-bottom:50px;background:no-repeat center center;background-color:#868e96;background-attachment:scroll;position:relative;background-size:cover}
header.masthead .overlay{position:absolute;top:0;left:0;height:100%;width:100%;background-color:#212529;opacity:.3}

header.masthead .page-heading,header.masthead .post-heading,header.masthead .site-heading{padding:200px 0 150px;color:#fff}

@media only screen and (min-width:768px){header.masthead .page-heading,header.masthead .post-heading,header.masthead .site-heading{padding:200px 0}}

header.masthead .page-heading,header.masthead .site-heading{text-align:center}header.masthead .page-heading h1,header.masthead .site-heading h1{font-size:50px;margin-top:0}header.masthead .page-heading .subheading,header.masthead .site-heading .subheading{font-size:24px;font-weight:300;line-height:1.1;display:block;margin:10px 0 0;font-family:'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif}@media only screen and (min-width:768px){header.masthead .page-heading h1,header.masthead .site-heading h1{font-size:80px}}header.masthead .post-heading h1{font-size:35px}header.masthead .post-heading .meta,header.masthead .post-heading .subheading{line-height:1.1;display:block}header.masthead .post-heading .subheading{font-size:24px;font-weight:600;margin:10px 0 30px;font-family:'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif}
header.masthead .post-heading .meta{font-size:20px;font-weight:300;font-style:italic;font-family:Lora,'Times New Roman',serif}
header.masthead .post-heading .meta a{color:#fff}
@media only screen and (min-width:768px){
  header.masthead .post-heading h1{font-size:55px}
header.masthead .post-heading .subheading{font-size:30px}}

{% endblock %}


{% block body %}
{% load humanize %}
{%load static%}
       
{% load cloudinary %}

<header class="masthead" style="background-image: url('https://res.cloudinary.com/dus8g1azl/image/upload/v1/{{post.thumbnail}} ')">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="post-heading">
          <h1>{{post.title}}</h1>
          <h2 class="subheading">{{post.imtro|truncatechars:70}}</h2>
          <span class="meta mt-3">Posted by
            <a href="#">{{post.writer}}</a>
            {{post.pub_date}}</span>
        </div>
      </div>
    </div>
  </div>
</header>

{% load social_share %}
{% post_to_facebook object_or_url " " "fa fa-facebook" %}
<i class="fa fa-envelope">{% send_email object.title ": {{object.title}}. Check it out!" object_or_url  %}</i>
<i class="fa fa-whatsapp">{% post_to_whatsapp object_or_url  %}</i>
<i class="fa fa-telegram">{% post_to_telegram "New Song: {{object.title}}" object_or_url %}</i>
<i class="fa fa-clipboard"></i>

<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
  
        <article class="blog-post">
         

         
        
     
         
          <div class="container" id='content'>
         
            {{post.content|safe|escape}}
 
        </div>
        </article><!-- /.blog-post -->
        
        </div></div><hr>
        {%if user.is_authenticated%}
        
        <form action="/blog/postComment" method="post">
         {% csrf_token %}
         <form>
 
          <div class="mb-3">
            <input type="hidden" name=sno value={{post.post_id}} >
            <input type="text" name=comment class="form-control" placeholder="Enter a public comment" required="true" id="commentbox">
         
           </div>
       </form>
           {% else %}
 
<input class="form-control" id="disabledInput" type="text" placeholder="login to add comments" disabled>
<div class="container">
        </div>
       </form>


{%endif%}


<div class="container">
  <div class="row">
   {% for i in comment  %}
      <div class="col-md-8">
          <div class="media g-mb-30 media-comment">
            <div class="logo{{i.sno}} logo"><span id="userlogo">
          
              {{i.user.get_short_name|slice:":1"}}</span></div>
              
            </div>
              <div class="media-body u-shadow-v18 g-bg-secondary g-pa-30">
                <div class="g-mb-15">
                  <h5 class="h5 g-color-gray-dark-v1 mb-0">{{i.user}}</h5>
                  <span class="g-color-gray-dark-v4 g-font-size-12">{{i.timestamp|naturaltime}}</span>
                </div>
          
                <p> {{i.comment|truncatechars:300}}</p>
          
              </div>
              {% endfor %}
          </div>
      </div>
      <div class="col-md-4">
      
      {%for other in others%}
      <div class="p-4  mt-4">
      
       
        <div class="card mt-2" style="width: 18rem;">
          <img src="https://res.cloudinary.com/dus8g1azl/image/upload/v1/{{other.thumbnail}}" class="card-img-top" id="thumbnail" alt="...">
          <div class="card-body">
            <h5 class="card-title">{{other.title|truncatechars:25}}</h5>
            <p class="card-text">{{other.para1|truncatechars:70}}</p>
            <a href="/blog/{{other.slug}}" class="btn btn-primary btn-sm stretched-link">Learn more..</a>
            </div>
       
        
        
      

           
      
  </div>
      </div>
       
      
        
     
      {%endfor%}
   
   
  
        <div class="p-4">
          <h4 class="font-italic">Elsewhere</h4>
          <ol class="list-unstyled">
            <li><a href="https://github.com/aditya21111">GitHub</a></li>
            <li><a href="#">Twitter</a></li>
            <li><a href="#">Facebook</a></li>
          </ol>
        </div>
    </div>
    </div>

  {%endblock%}
  {% block js %}
  <script>
   var commentbox = document.getElementById("commentbox"); 
   commentbox.addEventListener("keyup", function (event) { 
  
  // Checking if key pressed is ENTER or not 
  // if the key pressed is ENTER 
  // click listener on button is called 
  if (event.keyCode == 13) { 
    a=commentbox.getAttribute('type')
    commentbox.value=="";
    if (commentbox.value){
    commentbox.setAttribute("disabled", "");
    console.log(a)
  }
    
  } 

}); 
   var colors =['#534e52','#682c0e','#f05454','#ffc1b6','#23689b','#ffc75f',"#ffc75f"] ;
   {% for i in comment  %}
document.querySelector('.logo{{i.sno}}').style.background=
colors[Math.floor(Math.random() * colors.length)];
function toggle(){
  
  document.getElementById("collapse-box{{i.sno}}").style.display="block";
  

}
{% endfor %}
   </script>
{% endblock %}