{%extends "basic.html"%}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
 
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,900&display=swap" rel="stylesheet">

    </head>
    {% block title %}
    Blogee
    {% endblock title %}
   
   {% block css %}




   
   .row.g-0.border.rounded.overflow-hidden.flex-md-row.mb-4.shadow-sm.h-md-250.ml-3.pd-3.position-relative {
    height: 17rem;

}
.date{
  margin-top:10px;
}
#thumbnail{
    width:50%;
  }

#continue{
  text-decoration:none;

}
  body{font-family: 'Roboto', sans-serif;}
  

.col.d-flex.flex-column.position-static{
  padding:2rem;

}
h4.mb-2 {
  font-size: 1rem;
  font-weight: initial;
  /* font: icon; */
}


@media only screen and (max-width: 768px) {


.col.d-flex.flex-column.position-static{
  padding:1.2rem;

}
 #continue{
   
   font-size:0.8rem;
 }
  .row.g-0.border.rounded.overflow-hidden.flex-md-row.mb-4.shadow-sm.h-md-250.ml-3.pd-3.position-relative{
    height:13rem;
  }

  strong{
    font-size:0.8rem;
  }

  h4{
    font-size:1rem;
    
  
  }
  #thumbnail{
    width:50vw;
  }


#imtro{
      display:none;
}
  .date{
    margin-top:0.2rem;
    font-size:0.7rem;
  }
  h4.mb-2 {
    font-size: 1rem;
    font-weight: initial;
    /* font: icon; */
  }


  {% comment %} .col .p-4 .d-flex .flex-column .position-static{
    padding:10px;
  } {% endcomment %}
  
}
   {% endblock css %}

  
     {% block body %}
         

      <div class="container">
        {% load humanize %}
    <div class="row mb-2 mt-4">
     {% for i in blog %}
      
      <div class="col-md-6  " >
        
        <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 ml-3  pd-3 position-relative box">
    
        
          <div class="col d-flex flex-column position-static">
          
         
            <strong class="d-inline-block mb-1 text-primary">{{i.category}}</strong>
            <div class="mb-1 text-muted date">{{i.pub_date}}</div>
            <h4 class="mb-2">{{i.title}}</h4>
           
             <p class="text-muted" id="imtro">{{i.imtro|truncatechars:30}}</p>
            <a href="{{i.slug}}" class="stretched-link sm text-primary" id="continue">..</a>
          </div>
       
          
      
       <img src="https://res.cloudinary.com/dus8g1azl/image/upload/v1/{{i.thumbnail}}" style=" height: 100%;"  id="thumbnail" >
            
   
         
        </div>
        
        
      </div>
      {% endfor %}
    
   
    </div>
  
{% if blog.has_other_pages %}
<ul class="pagination">
  {% if blog.has_previous %}
    <li><a href="?page={{ blog.previous_page_number }}">&laquo;</a></li>
  {% else %}
    <li class="disabled"><span>&laquo;</span></li>
  {% endif %}
  {% for i in blog.paginator.page_range %}
    {% if blog.number == i %}
      <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
    {% else %}
      <li><a href="?page={{ i }}">{{ i }}</a></li>
    {% endif %}
  {% endfor %}
  {% if blog.has_next %}
    <li><a href="?page={{ blog.next_page_number }}">&raquo;</a></li>
  {% else %}
    <li class="disabled"><span>&raquo;</span></li>
  {% endif %}
</ul>
{% endif %}
   
     {% endblock body %} 
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.js"
    integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
    crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
 
